<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>DSC MQ | Team Members</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/tilter.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
	<script src="static/main.js"></script>
	<script src="static/tilter.js"></script>
	<link rel="icon" href="static/logo.png" type="image/gif" sizes="16x16">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
</head>

<body>
	<div class="bouncing-loader" id="preloader">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<!-- NAV BAR -->

	<div class="navbar-fixed">
		<nav class="main-nav no-shadows" id="main-nav">
			<div class="nav-wrapper">
				<a href="/" class="black-text">
					<img class="nav-logo" src="static/logo.png" />
					<span class="nav-text">DSC MQ</span>
				</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
						class="material-icons black-text">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/" class="black-text">Home</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<ul class="sidenav" id="mobile-demo">
		<li><a href="/">Home</a></li>
	</ul>

	<!-- END OF NAV BAR -->

	<div class='box'>
		<div class='wave -one'></div>
		<div class='wave -two'></div>
		<div class='wave -three'></div>
		<div class='wave -four'></div>
	</div>

	<!-- MAIN BODY -->
	<!-- END OF MAIN BODY -->

	<footer class="page-footer white black-text">
		<div class="container footer-container">
			<div class="row">
				<div class="col l4 s12">
					<img src="static/logo.png" class="footer-1" /><span class="footer-logo-text">DSC MQ</span><br>
					<div class="social-icons">
						<a href="https://www.facebook.com/" target="_blank"><i
								class="fa fa-facebook-square fa-2x facebook-icon"></i></a>
						<a href="https://www.linkedin.com/" target="_blank"><i
								class="fa fa-linkedin-square fa-2x linkedin-icon"></i></a>
						<a href="https://instagram.com/" target="_blank"><i
								class="fa fa-instagram fa-2x instagram-icon"></i></a>
						<a href="https://twitter.com/" target="_blank"><i
								class="fa fa-twitter-square fa-2x twitter-icon"></i></a>
					</div>
					<p>
						Macquarie University<br>
						New South Wales<br>
						Australia
					</p>
				</div>
				<div class="col l4 s12">
					<h5 class="">About</h5>
					<ul>
						<li><a class="text-lighten-3" href="https://www.mq.edu.au/" target="_blank">Macquarie
								University</a></li>
						<li><a class="text-lighten-3" href="https://dsc.community.dev/macquarie-university/"
								target="_blank">Developer Student Clubs</a></li>
						<li><a class="text-lighten-3" href="code-of-conduct.html" target="_blank">Code of Conduct</a>
						</li>
					</ul>
				</div>
				<div class="col l4 s12">
					<h5 class="">Resources</h5>
					<ul>
						<li><a class="text-lighten-3" href="http://github.com/beauwilliams/">Github</a></li>
						<li><a class="text-lighten-3" href="#!">Call for a Speaker</a></li>
						<li><a class="text-lighten-3" href="#!">Become a Sponsor</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright black-text white darken-3">
			<div class="container center">
				Developed and Maintained by Beau Williams credits to ATC University for original design ❤️
			</div>
		</div>
	</footer>
</body>

</html>